<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>背背背</title>
		<link href="../../../node_modules/_bootstrap@3.4.1@bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/topic.css"/>
		<link rel="stylesheet" type="text/css" href="./common/common.css"/>
	</head>
	<body>
		<div class="container main">
			<div class="content">
				<form class="conFor" action="" method="post">
					<div class="topic">
						<div class="row">
						  <div class="col-xs-12 col-sm-6 col-md-6">
							  <p>html的题目html的题目</p>
						  </div>
						  <div class="col-xs-12 col-sm-6 col-md-6">
							  <textarea class="form-control" rows="2"></textarea>
						  </div>
						</div>
					</div>
					<input type="submit" class="fBtn" value="上传"/>
				</form>
				
			</div>
		</div>
		<script src="./js/topic.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../node_modules/_jquery@3.5.1@jquery/dist/jquery.min.js"></script>
		<script src="../../../node_modules/_bootstrap@3.4.1@bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
