<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JavaScript</title>
		<link href="../../../node_modules/_bootstrap@3.4.1@bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	</head>
	<body>
		<div class="container main">
			<div class="header">
				<h1 class="hTxt">JavaScript题</h1>
			</div>
			<div class="content" id="str">
				<!-- <div class="topic">
					<p>题目①</p>
					<div class="row">
					  <div class="col-xs-12 col-sm-6 col-md-6">
						  <p>html的题目html的题目</p>
					  </div>
					  <div class="col-xs-12 col-sm-6 col-md-6">
						  <textarea class="form-control" rows="2"></textarea>
					  </div>
					</div>
				</div> -->
			</div>
		</div>
		<script src="./js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../node_modules/_jquery@3.5.1@jquery/dist/jquery.min.js"></script>
		<script src="../../../node_modules/_bootstrap@3.4.1@bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
